.project-section {
    height: 100vh;
    padding: 5% 10%;
}
.project-section > h3 {
    font-size: 60px;
    position: relative;
    border-bottom: 2px solid #47adb2;
}
.proj {
    display: flex;
    margin-top: 3rem;
}
.project-article {
    margin-top: 3rem;
}
.project-article .img-div {
    width: 25%;
}
.img-div > img {
    max-width: 300px;
    width: 100%;
    box-shadow: rgb(0 0 0 / 15%) 10px 8px 3.2px;
}
.project-article .desc-div {
    width: 75%;
    padding-left: 5rem;
}
.desc-div > h4 {
    margin-bottom: 2rem;
}
.proj-wrap {
    margin-top: 2rem;
    overflow: auto;
    height: 60vh;
}
@media only screen and (max-width: 1024px) {
    .project-section > h3 {
        font-size: 50px;
    }
}
@media only screen and (max-width: 600px) {
    .project-section > h3 {
        font-size: 40px;
    }
    .project-article .desc-div {
        width: 65%;
        padding-left: 1rem;
    }
    .project-article .img-div {
        width: 35%;
    }
    .project-section {
        font-size: 14px;
    }
}

/* animation */

.project-section, .project-section > h3, .proj-wrap {
    transform: translate(0px, 20px);
    opacity: 0;
    transition: all 2s ease;
}