.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px 40px;
    background: #0a4e59;
    color: white;
    z-index: 1;
    position: fixed;
    width: 100vw;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.text-logo {
    font-family: 'Advent Pro', sans-serif;
    font-size: 34px;
}
.text-logo > span {
    color: #ff4040;
}
.header-wrap nav > ul {
    list-style-type: none;
    display: flex;
    font-size: 18px;
}
.header-wrap li:not(:last-child) { 
    margin-right: 22px;
 }