.main-section {
    padding: 8% 10%;
    /* background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)),url(http://localhost:3000/static/media/wallpaper.2f325b2c081b4c0a3ce7.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
    animation: fadeIn;
    animation-duration: 2s;
    height: 100vh;
}
.main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main-container h3 {
    font-size: 76px;
    margin-bottom: 8px;
    margin-top: 150px;
}
/* .main-container h3 > span {
    color:#303030;
} */
.main-container div {
    font-size: 20px;
}
.tab {
    margin-left: 40px;
}
.main-container p > span {
    /* color: #ff6476; */
}
.more {
    font-size: 16px;
    /* color: #777777; */
    margin-top: 32px;
    text-align: center;
}
.main-container .left-div {
    width: 55%;
    display: flex;
    flex-direction: column;

}
.main-container .left-div > p {
    padding: 40px;
    opacity: 0;
    animation: fadeInDown;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.right-div {
    min-width: 45%;
}
.tagcloud {
    color: #ff4040;
    opacity: 0;
    animation: fadeIn;
    animation-duration: 2s;
    /* animation-delay: 2s; */
    animation-fill-mode: forwards;
}
.cv-download {
    height: 40px;
    width: 300px;
    background: #8f2323;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-35deg);
    position: absolute;
    left: -60px;
    top: 100px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}