.about-section {
    background: #0c5d6b;
    min-height: 100vh;
    width: 100%;
    padding: 5% 10%;
}
.about-section > h3 {
    color: white;
    font-size: 60px;
    position: relative;
    border-bottom: 2px solid #33e1ff;
}
.about-section::before {
    content: 'More';
    position: absolute;
    color: white;
    margin-top: -15px;
    transform: rotate(-30deg);
    margin-left: -25px;
    font-family: 'Advent Pro';
    font-weight: bold;
    font-size: 20px;

}
.first-article {
    color: white;
    display: flex;
    align-items: center;
    margin-top: 5rem;
}
.first-article .left-div {
    width: 70%;
}
.first-article .right-div {
    width: 30%;
    display: flex;
    justify-content: center;
}
.right-div {
    position: relative;
}
.right-div .me-pic {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}
.right-div .me-pic::after {
    content: '"When I had long hair"';
    position: absolute;
    text-align: center;
    width: inherit;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -60px;
    font-size: 12px;
}
.right-div > div > img {
    width: 200px;
}
.overlay {
    background: #8831b7a3;
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
}
.overlay:hover {
    transform: scale(0.0);
    transition: 1s;
}
.first-article .left-div > span {
    color: #b81458;
}

.second-article {
    display: flex;
    margin-top: 10rem;
    align-items: center;
}
.ref-pic {
    width: 100px;
    position: absolute;
    z-index: 1;
    border: 2px solid white;
    transition: 0.6s;
    cursor: pointer;
    transform: rotate(-20deg);
}
.ref-pic:hover {
    transform: scale(350%) translateX(20px);
    z-index: 2;
}
.refTwo-pic {
    width: 140px;
    position: absolute;
    z-index: 1;
    border: 2px solid white;
    transition: 0.6s;
    cursor: pointer;
    margin-left: 70px;
    margin-top: -40px;
    transform: rotate(20deg);
}
.refTwo-pic:hover {
    transform: scale(350%) translateX(20px);
}
.own-pic {
    width: 200px;
    position: absolute;
    margin-left: 40px;
    margin-top: 40px;
    transition: 0.6s;
    cursor: pointer;
}
.own-pic:hover {
    transform: scale(250%) translateX(40px);
    z-index: 2;
}
.second-article .left-div {
    width: 40%;
    position: relative;
}
.second-article .right-div {
    color: white;
    width: 60%;
}
.from {
    position: absolute;
    top: -25px;
    left: -25px;
    color: white;
    font-size: 10px;
}
.invi-box {
    height: 200px;
}
.to {
    position: absolute;
    color: white;
    font-size: 10px;
    bottom: 0px;
    left: 250px;
}
/* .about-section p::first-letter {
    font-size: 200%;
} */
.about-skill {
    margin-top: 10rem;
    color: #cdcdcd;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.amdon-group {
    color: #ff6476;
}
@media only screen and (max-width: 1024px) {
    .about-section > h3 {
        font-size: 50px;
    }
    .first-article {
        flex-direction: column;
    }
    .right-div > div > img {
        width: 150px;
    }
    .right-div .me-pic {
        width: 150px;
        height: 150px;
    }
    .about-section .first-article .right-div {
        margin-top: 1rem;
    }
    .about-section {
        padding: 5% 8%;
    }
    .second-article {
        margin-top: 5rem;
        flex-direction: column-reverse;
    }
    .second-article .left-div {
        margin-top: 5rem;
    }
}
@media only screen and (max-width: 600px) {
    .right-div > div > img {
        width: 110px;
    }
    .right-div .me-pic {
        width: 110px;
        height: 110px;
    }
    .right-div .me-pic::after {
        font-size: 10px;
    }
    .about-section > h3 {
        font-size: 40px;
    }
    .about-section{
        padding: 10% 8%;
    }
    .first-article p {
        font-size: 14px;
    }
    .second-article p {
        font-size: 14px;
    }
    .ref-pic {
        width: 80px;
    }
    .ref-pic:hover {
        transform: scale(250%) translateX(0px);
        z-index: 2;
    }
    .refTwo-pic {
        width: 120px;
    }
    .refTwo-pic:hover {
        transform: scale(250%) translateX(-20px);
    }
    .own-pic {
        width: 150px;
    }
    .own-pic:hover {
        transform: scale(150%) translateX(0px);
        z-index: 2;
    }
    .to {
        left: 200px;
    }
}
@media only screen and (max-width: 450px) {
    .right-div > div > img {
        width: 80px;
    }
    .right-div .me-pic {
        width: 80px;
        height: 80px;
    }
}