.skill-section {
    min-height: 100vh;
    width: 100%;
    padding: 5% 10%;
}
.skill-wrap {
    display: flex;
}
.skill-section > h3 {
    color: white;
    font-size: 60px;
    position: relative;
    margin-top: 3rem;
    border-bottom: 2px solid #33e1ff;
}
.skill-section h2 {
    color: white;
    font-size: 40px;
}
.circle-svg {
    width: 30%;
}
.skill-list {
    list-style-type: none;
}
.skill-list-article, .education-article {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.skill-wrap .left-div, .right-div {
    width: 50%;
}
.code-box {
    height: 100%;
    background: #558087;
    font-family: 'Courier Prime', monospace;
    padding: 16px;
    border-radius: 4px;
}
.skill-list li {
    cursor: pointer;
}
.skill-list li:not(:last-child) {
    margin-bottom: 1.2em;
}
.education-article div{
    display: flex;
    justify-content: space-between;
    background: #558087;
    padding: 10px;
    border-radius: 10px;
}
.uit-img {
    height: 60px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
.ncc-img {
    height: 60px;
}
.education-article > div:not(:last-child) {
    margin-bottom: 3rem;
}
@media only screen and (max-width: 1024px) {
    .skill-section > h3 {
        font-size: 50px;
    }
    .circle-svg {
        width: 50%;
    }
}
@media only screen and (max-width: 600px) {
    .skill-section > h3 {
        font-size: 40px;
    }
    .skill-list li, .code-box, .education-article {
        font-size: 14px;
    }
    .skill-section h2 {
        font-size: 30px;
    }
    .uit-img, .ncc-img {
        height: 40px;
    }
}